{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Comics <span class="glyphicon glyphicon-picture" aria-hidden="true"></span></h1>
    </div>
</div>
<br/>
<a class="btn btn-primary" href="/new">
    Crear comic
    <span style="margin-left: 5px;" class="glyphicon glyphicon-upload" aria-hidden="true"></span>
</a>
<br/>
<br/>

{% if comics.count() > 0 %}
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
            <th>Portada</th>
            <th>Nombre</th>
            <th>Descripci&oacute;n</th>
            <th>E-mail</th>
            <th>Fecha de creaci&oacute;n</th>
            <th>Fecha de actualizaci&oacute;n</th>
            <th>Acciones</th>
            </thead>
            <tbody>
            {% for comic in comics %}
            <tr>
            	<td><img src="http://oyster.ignimgs.com/wordpress/stg.ign.com/2018/03/Infinity-Gauntlet.jpg"  width="60" height="100"></td>
                <td>{{ comic.name }}</td>
                <td>{{ comic.description }}</td>
                <td>{{ comic.author }}</td>
                <td>{{ comic.create_date.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>{{ comic.update_date.strftime('%Y-%m-%d %H:%M') }}</td>
                <td><a class="btn btn-warning" href="/edit/{{ comic.key().id() }}">Editar</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-warning warning_mesagge">
            <label>No existen comics todav&iacute;a.</label>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endif %}

<script type="text/javascript">
    window.onload = function() {
        if(!window.location.hash) {
            window.location = window.location + '#loaded';
            window.location.reload();
        }
    }
</script>

{% endblock content %}
